*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STRUTTURA */
.bg-lightblue{
    background-color: rgb(109, 210, 253);
}

.padding-20{
    padding: 10px;
}

.border{
    border: 1px dashed black;
}
/* PRIMA COLONNA */
.container{
    max-width: 60%;
    margin: 0 auto;
}

.row-flex{
    display: flex;
}

.flex{
    display: flex;
}

.col-25{
    background-color: gold;
    height: 25px;
    width: 25%;
}

.col-50{
    background-color: gold;
    width: 50%;
    height: 25px;
}

.start{
    justify-content: left;
    align-items: center;
}

.center{
    justify-content: center;
    align-items: center;
}

.end{
    justify-content: right;
    align-items: center;
}
/* FINE PRIMA COLONNA */

/* SECONDA COLONNA */

.bg-blue{
    background-color: blue;
}
.padding-30{
    padding: 30px;
}

.container-40{
    max-width: 40%;
    margin: 0 auto;
}

.col-150{
    background-color: purple;
    width: 100%;
    height: 300px;
}
/* FINE SECONDA */

/* INIZIO TERZA QUARTA E QUINTA COLONNA */

.col-skyblue{
    background-color: skyblue;
}

.col-pink{
    background-color: pink;
}

.height-400{
    height: 400px;
}

.width-60{
    width: 60%;
    margin: 25px 0px;
}

.width-40{
    width: 40%;
    margin: 25px 0px;
}

.bg-grey{
    background-color: grey;
}

.col-green{
    background-color: green;
    height: 600px;
}

.width-100{
    width: 100%;
    margin: 25px 0px;
}
/* FINE TERZA QUARTA E QUINTA COLONNA */

/* SESTA E SETTIMA COLONNA */

.bg-black{
    background-color: black;

}

.plus-col{
    background-color: coral;
    width: 60%;
    margin: 15px 0 25px 0;
}

.col{
    background-color: aquamarine;
    width: 10%;
    margin: 15px 0 25px 0 ;
}

button{
    background-color: brown;
    padding: 3px;
    margin: 15px 0;
}

.flex-betw{
    justify-content: space-between;

}